/* Stylesheet for My Website */ 

* {
    box-sizing: border-box;
  }

/* 
  The page has three columns - left, middle, right. The middle column is split into four rows (one for each section). Each section may have further divisions if there are images/misc. content.
    1. Left
    2. Middle
        1. Header
            1. Logo
            2. Navigation Bar
        2. Home
            1. "Hello, World!" greeting text
            2. Avatar photo
        3. About
            1. "About" text
            2. Photo
        4. Projects
        5. Contact
    3. Right
*/

body {
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    color: lightgray;
    margin: 0;
    background: linear-gradient(#114, black);
}

/* FLEX COLUMN 2*/
.middle {
    flex:5;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/* header and navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;    /* align items center along horizontal axis */
    font-size:larger;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 15px;
}

#nav_logo_img {
    outline: white solid 1px;
}

#nav_logo_img:hover {
    outline: whitesmoke solid 1px;
    opacity: 0.5;
}

/* home welcome text and avatar photo */
.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
}

.home_text {
    flex-basis: 60%;
    flex-grow: 1;
    font-size: x-large;
    opacity: 0.9;
}

#home_greeting {
    
}

#home_name {
    color: magenta;
    opacity: 0.6;
}

#home_descrip {
    font-size: 90%;
    max-width: 600px;
    color: lightgray;
}

.profile_pic {
    opacity: 0.7;
}

.profile_pic:hover {
    opacity: 1.0;
}

/* about section */
.about {
    display: flex;
    flex-wrap: wrap;
}

#about_para{
    font-size: large;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    flex-wrap: wrap;
} 

/* SIDEBARS */
.sidebar{
    display:flex;
    flex:1;
    opacity: 0.5;
}

/*specify only width so canvas doesn't stretch*/
.canvas {
    width: 99%;
}

/* FLEX COLUMN 1*/
#sidebar_left {
    order: 1; 
    
}

/* FLEX COLUMN 3*/
#sidebar_right {
    order: 3;
}